.header{
    height: 15vh;
    border: 5px solid green;
}
.mainpage-name{
    text-align:right;
    margin-top: 35px;
    margin-right: 20px;
}
/* navbar */
.navbar{
    height: 82vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid green;
    text-align: center;
    background-color: green;
}
.logout{
    font-weight: bolder;
    cursor: pointer;
    font-size: large;
    margin-bottom: 10px;
}

/* for creating */
.create-one{
    position: absolute;
    top:120px;
    right: 20px;
    border: 1px solid green;
    padding: 3px 10px;
    border-radius: 5px;
}

/* list table */
.list-table{
    position: absolute;
    top: 200px;
    left: 250px;
    text-align: center;
    width: 1000px;
    height: 100px;

}